.alert {
  //box-shadow: inset 0px 0px 20px 0px red;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 16px;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  p {
    height: 100%;
    text-align: center;
  }
}